[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "3rdparty/HexSuite"]
	path = 3rdparty/HexSuite
	url = https://github.com/can1357/HexSuite
[submodule "3rdparty/LIEF"]
	path = 3rdparty/LIEF
	url = https://github.com/lief-project/LIEF
